*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

nav{
background:#003366;
padding:20px 50px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
background:url("https://picsum.photos/1600/900") center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content{
background:rgba(0,0,0,.5);
padding:30px;
color:white;
border-radius:10px;
}

.btn{
display:inline-block;
margin-top:15px;
padding:12px 20px;
background:orange;
color:white;
text-decoration:none;
border-radius:5px;
}

.about{
padding:50px;
text-align:center;
}

.judul{
text-align:center;
margin:30px;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
padding:20px;
}

.card{
width:300px;
border:1px solid #ddd;
border-radius:10px;
overflow:hidden;
}

.card img{
width:100%;
}

.card h3,
.card p{
padding:10px;
}

.gallery{
display:flex;
gap:15px;
justify-content:center;
flex-wrap:wrap;
padding:30px;
}

.gallery img{
border-radius:10px;
}

.form-container{
max-width:500px;
margin:50px auto;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
button{
padding:12px;
}

button{
background:#003366;
color:white;
border:none;
cursor:pointer;
}

.kontak{
text-align:center;
padding:50px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}